<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Rewards
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amrewards>
            <general>
                <enabled>1</enabled>
                <adminaction>Admin Point Change</adminaction>
                <days>-1</days>
            </general>
            <points>
                <rate>1</rate>
                <round_rule>down</round_rule>
                <disable_reward>0</disable_reward>
                <expiration_behavior>0</expiration_behavior>
            </points>
            <highlight>
                <cart>0</cart>
                <checkout>0</checkout>
                <product>0</product>
                <category>0</category>
                <guest>0</guest>
                <color>#000000</color>
            </highlight>
            <customer>
                <description_enable>0</description_enable>
                <show_balance>0</show_balance>
                <balance_label>Reward Points</balance_label>
            </customer>
        </amrewards>
    </default>
</config>