<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Rewards
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_load_after">
        <observer name="Amasty_Rewards::AllowRefund" instance="Amasty\Rewards\Observer\OrderLoadAfter" />
    </event>
    <event name="adminhtml_sales_order_creditmemo_register_before">
        <observer name="Amasty_Rewards::refund_reward" instance="Amasty\Rewards\Observer\SetRewardPointsToCreditmemo" />
    </event>
    <event name="adminhtml_sales_order_create_process_data">
        <observer name="Amasty_Rewards::process_rewards" instance="Amasty\Rewards\Observer\OrderCreateData" />
    </event>
    <event name="order_cancel_after">
        <observer name="Amasty_Rewards::return_rewards" instance="Amasty\Rewards\Observer\OrderCancelObserver" />
    </event>
</config>
